<?xml version="1.0" encoding="UTF-8"?>

<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Appender for file output -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Specify the file name and path -->
        <file>/home/miracle123/Desktop/Rohith/DataRockect/src/main/java/myapp.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Add loggers for specific classes/packages -->
    <logger name="com.DataRockect" level="info"/>

</configuration>
